body{
    font-family: 'Inter', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    color: #24292e;
    background-color: #0D1117;
    margin: 0;
    padding: 0;
}

span{
    color: white;
}

.avatar{
    display: block;
    border-radius: 50%;
    margin-left: auto;
}

.AvatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonGroup {
    display: flex;
    align-items: center;
    gap: 10px;
}

.MainHeader {
    padding: 10px !important;
    background-color: black;
    flex-wrap: wrap;
}

.RepoInfos{
    margin-left: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
}

.RepoInfosEnd {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 10px;
}

.RepoInfosEnd img{
    align-self: flex-end;
}

.SearchBar {
    display: flex;
    align-items: center;
}

.SearchInput {
    width: 12rem;
    padding: 5px 10px;
    font-size: 14px;
    color:#ffffff;
    background-color: #000000;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 4px;
    outline: none;
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
}

nav{
    display: flex;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    align-items: center;
    justify-content:flex-start;
    gap: 1rem;
}

nav button{
    color:white;
    background-color: black;
    border: 0px;
}

nav button:hover{
    background-color: rgb(60, 60, 60);
}

button {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 6px;
    padding: 6px 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
}

input:hover,
button:hover {
    background-color: rgb(60, 60, 60);
    border-color: #c6cbd1;
    transform: scale(1.1);
}

input:active,
button:active {
    background-color: rgb(30, 30, 30);
    border-color: #afb8c1;
}